@import "styles/colors.scss";
@import "styles/layout.scss";

.footer {
  // position: fixed;
  justify-content: center;
  align-items: center;
  min-height:64px;
  border-bottom: 1px solid $header-split;
  display: flex;
  flex-direction: column;
  background-color: $black;
}

.footer-contents {
  max-width: $site-width;
  width: 100%;
}