@import "styles/colors";
@import "styles/layout";

.quoteView {
  display: flex;
  margin-top: 16px;
  width: 100%;
  justify-content: center;
  max-width: 1600px;
  padding: 16px;
  // flex-wrap: wrap;
}

.quote {
  display: flex;
  max-width: 1000px;
  width: 100%;
  gap: 48px;

  @media screen and (max-width: 800px) {
    flex-wrap: wrap;
    gap: 16px;
  }
}

.contactUsHeadline {
  font-size: calc(24px + 2vw);

  @media screen and (min-width: 600px) {
    font-size: 36px;
  }
}

.getInTouch {
  font-size: calc(24px + 2vw);

  @media screen and (min-width: 600px) {
    font-size: 36px;
  }
  margin-bottom: 16px;
}

.contactUs {
  flex: 1;
  flex-basis: 1 1 0.3;
  width: 100%;
  margin: 0 0 32px 0;
  height: 160px;
}

.form {
  flex: 1 1 0.7;
  width: 100%;
  margin: 0 0 32px 0;
}

.section {
  background-color: rgb(24, 24, 42);
  padding: 32px;
  border-radius: 16px;
  min-width: 300px;
}

.email {
  margin-top: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}