@import "styles/colors";
@import "styles/fonts";

.button {
  &:hover {
    filter: brightness(120%);
  }


  z-index: 1000;
  border: none;
  // neumorphism
  border-radius: 8px;
  background: $white;
  box-shadow: $imperial-red 0px 0px 4px;
  min-width: 48px;
  min-height: 48px;
  font-size: 19px;
  font-weight: 800;
  text-shadow: 1px 1px black;
  letter-spacing: 0.5px;
  padding: 14px;
  font-family:Poppins; 
  z-index: 1;
  cursor: pointer;

  &.smol {
    font-size: 14px !important;
    font-weight: bold;
  }

  &.big {
    height: 64px;
    font-size:14px;
    font-weight: bold;
  }

  &.accent {
    color: black;
    // neumorphism
    background: $accent;
  }

  &.primary {
    color: black;
    background: $primary;
  }

  &.scroll {
    color: red;
  }

  &.disabled {
    opacity:0.5;
    cursor: not-allowed;
  }

  &.loading {
    opacity:0.5;
    cursor: progress;
  }


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}