// @import "styles/definitions/colors";

.asterisk {
  font-size:16px;
  font-weight: bolder;
  color: #f28482;
}
.form-input {
  color: white;

  & > .form-input-title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bolder;
  }

  & > .form-input-input {
    width: 100%;
    color: #80ed99;
    // height: 32px;
    padding: 8px;
    background-color: #1a1a1a;
    border-radius: 4px;
    outline: none;
    font-family: "Lucida Console", Arial, Helvetica, sans-serif;
    border: black;
  }

  & > .form-input-textarea {
    width: 100%;
    color: #80ed99;
    min-height: 100px;
    font-family: "Lucida Console", Arial, Helvetica, sans-serif;
    padding: 8px;
    background-color: #1a1a1a;
    border-radius: 4px;
    outline: none;
    border: black;
  }

  .error {
    //&.title {
    color: #f28482ed;
    //}
    &.error-data {
      margin-top:8px;
    }
  }

}