.heroContainer {
  padding-top: 64px;
  padding-bottom: 64px;
  background: radial-gradient(circle, rgba(99,102,249,1) 5%, rgba(3,150,218,1) 51%, rgba(0,153,254,1) 66%, rgba(5,98,180,1) 100%);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.hero-section {
  position: relative;

  height: 100% !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  z-index:3;
}

.caro-mask {
  position: absolute;
  opacity: 0.8;
  z-index: 2;
  opacity: 0.5;
  background-size: 5px;
  background-color: #00000029;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAJUlEQVQYVxXHQREAMAgEsWCjNtCBdGxUB3P7yhYGC4XGw88EqQ83tgKeuwSd5AAAAABJRU5ErkJggg==');
}

.caro-mask, .caro-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}