.cta {
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 margin-top: 32px;
 margin-bottom: 64px;
 text-align: center;
}
.limitlessPossibilities {
    margin-top: 32px;
}
.kanban {
    margin-top: 32px;
}
.process {
    margin-top: 32px;
}
.agileImage {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.agileImage > * {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin-bottom: 32px;
    margin-top: 32px;
}
