.cta {
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;   
 margin-top: 32px;
 margin-bottom: 64px;
 text-align: center;
}

.penetrationTestingInternalAssessment {
    margin-top: 16px;
}
.penetrationTestingExternalAssessment {
    margin-top: 16px;
}

.penetrationTestingAssessment {
    display: flex;
    margin-top: 32px;

    flex-wrap: wrap;
    // flex-grow: 50%;
    // flex: 1;
}

.penetrationTestingAssessment > * {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .penetrationTestingAssessment > * {
        flex: 1 1 auto;
    }
}

.process {
    margin-top: 32px;
}

