.cta {
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;   
 margin-top: 32px;
 margin-bottom: 64px;
 text-align: center;
}

.penetrationTestingTemplate {
    margin-top: 32px;
}
.penetrationTestingInternalAssessment {
    margin-bottom: 32px;
    margin-top: 32px;
}

.process {
    margin-top: 32px;
}

