.cta {
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 margin-top: 32px;
 margin-bottom: 64px;
 text-align: center;
}

// @media screen and (max-width: 600px) {
//     .penetrationTestingInternalAssessment {
//         margin-top: 16px;
//     }
// }

// .penetrationTestingExternalAssessment {
//     margin-top: 16px;
// }

.penetrationTestingAssessment {
    display: flex;
    @media screen and (max-width: 600px) {
        margin-top:16px;
    }
    margin-top: 64px;
    gap: 16px;
    flex-wrap: wrap;
}

.penetrationTestingAssessment > * {
    flex: 1;
}

.penetrationTestingTemplate {
    margin-top: 64px;
}

@media screen and (max-width: 800px) {
    .penetrationTestingTemplate {
        margin-top: 32px;
    }
    .penetrationTestingAssessment > * {
        flex: 1 1 auto;
        
    }
}

.process {
    margin-top: 32px;
}

.webApplicationTesting {
}

