$font: Exo, sans-serif;
$font-size: 14px;

$small: 12px;
$medium: 14px;
$font-size: 14px;
$font-size-h0: 96px;
$font-size-h0sub: 64px;
$font-size-h1: 64px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 16px;