@import "./colors.scss";
@import "./fonts.scss";
@import "./components/form-input.scss";
@import "./components/stack.scss";
@import "../components/pages/portfolio/portfolio-template.module.scss";

body {
  line-height: 1;
  font-family: $font;
  font-size: $font-size;
  overflow-x: hidden;
}
h1 {
  line-height: 48px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

details {
  margin-bottom: 10px;
}

summary {
  cursor: pointer;
  outline: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
}

summary::before {
  content: '►'; /* Default arrow for closed state */
  margin-right: 10px; /* Adjust the spacing between the arrow and the text */
  transition: transform 0.3s; /* Add a smooth transition for the arrow */
}



details[open] summary::before {
  transform: rotate(90deg); /* Rotate arrow for open state */
}

/* Hide default marker on mobile devices */
@media (max-width: 768px) {
  summary::-webkit-details-marker {
      display: none;
  }
}

details > p {
  margin-top: 0;
}

