@import "styles/colors";

$site-width: 1280px;
$mobile-width: 533px;

$max-width: 1600px;
$min-height: 86vh;

.page {
  width:100%;
  min-height: $min-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(34, 34, 69);
}

.page-alternative {
  background: radial-gradient(circle, rgb(84, 88, 187) 5%, rgb(3, 110, 182) 51%, rgb(62, 64, 191) 66%, rgb(61, 171, 136) 100%);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.pageContents {
  max-width: $max-width;
  width: 100%;
}


@media screen and (max-width: $max-width) {
  // .landing-tiles {
  //   padding: 0px 16px 0 8px;
  // }

  // .landing-tiles-2 {
  //   padding: 0px 16px 0 8px;
  // }
}

@media screen and (max-width:$mobile-width) {
  // .landing-tiles {
  //   padding: 0px 8px 0 8px;
  // }
  // .landing-tiles-2 {
  //   padding: 0px 8px 0 8px;
  // }
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 120vh;
}

.scroll-button {
  position: fixed;
  right: 64px;
  bottom: 64px;
}

.hidden-desktop {
  @media screen and (min-width: $mobile-width) {
    display: none;
  }
}

